<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Text2Screen</title>
  <link rel="stylesheet" href="/static/style.css">                     
</head>
<body>
  <header>
    <nav>
      <div class="logo">
        <img src="/static/logo.jpg" alt="Text2Screen Logo">
        <span>Text2Screen</span>
      </div>


      <div class="menu-toggle"> <!-- Toggle menu for small screens -->
        <span>&#9776;</span>
      </div>
      <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="tools.html">Tools</a></li>
        <li><a href="aaa.html">Our Samples</a></li>
        <li><a href="feedback.html">Contact</a></li>
      </ul>
      <div class="auth-buttons">
        <a href="index3.html"><button class="login-btn">Log In</button></a>
        <a href="index2.html"><button class="signup-btn">Sign Up</button></a>
      </div>
    </nav>
  </header>

  <section class="hero">
    <div class="hero-content">
      <h1>TEXT TO VISUALS IN MOTION</h1>
      <p>Text to Video of various PIB Press Releases using Artificial Intelligence / Machine Learning / Generative Adversarial Networks in English and 13 Regional Languages viz. Hindi, Urdu, Punjabi, Gujarati, Marathi, Telugu, Kannada, Malayalam, Tamil, Odia, Bengali, Assamese and Manipuri.</p>
      <a href="/templates/ttindex.html"><button class="cta-btn">Turn text into video, now!</button></a>
    </div>
  </section>

  <script src="/static/script.js"></script> <!-- Link your JS here -->
</body>
</html>
